.loginButton {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1000;
    cursor: pointer;
    width: fit-content;
    height: 25px;
    border-radius: 5px;
    color: white;
    background-color: #F98C61;
    border: transparent;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 0 10px;
}