.proposeActivityButton,
.submitButton {
    cursor: pointer;
    width: fit-content;
    height: 25px;
    border-radius: 5px;
    color: white;
    background-color: #F98C61;
    border: transparent;
    padding: 0 10px;

    &:disabled {
        background-color: lightgrey;
        cursor: initial;
    }
}

.submitButton {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.activityPopupContainer {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    .popUp {
        height: fit-content;
        width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 30px;

            span {
                display: flex;
                flex-direction: column;
            }

            label {
                font-size: 15px;
                color: #626060;
                margin-bottom: 3px;
            }

            input {
                border-radius: 5px;
                border: 1px solid #d6d6d6;
                height: 25px;
                padding: 0 5px;
            }
        }

        .error {
            font-weight: bold;
            color: red;
        }
    }
}