.title {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    justify-content: center;
    font-weight: bold;

    p {
        font-size: 18px;
    }
}

.line {
    height: 1px;
    width: 20%;
    background-color: #8A2FD5;
}