.welcome {
    height: 100%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    button {
        cursor: pointer;
        width: fit-content;
        border-radius: 5px;
        color: white;
        background-color: #F98C61;
        border: transparent;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
        padding: 0px 15px;
        font-size: 30px;
    }
}

.connexion {
    display: flex;
    justify-content: end;
    padding: 10px;

    button {
        font-size: 20px;
    }
}

.signin {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-left: 100px;

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .slogan {
            color: white;
            font-size: 90px;
            line-height: 80px;
            font-weight: bold;


        }
    }
}

.welcomeImage {
    position: absolute;
    bottom: 0;
    height: 900px;
    right: 0;

}