.searchbarContainer {
    position: absolute;
    left: 50px;
    width: 500px;
}

.searchbarInput {
    width: 270px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    border: transparent;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.dateFilter {
    position: absolute;
    left: 400px;
    z-index: 1000;
    top: 10px;
    height: 25px;
    border: transparent;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    color: rgb(130, 129, 129);
}

.resetFilterButton {
    position: absolute;
    left: 540px;
    z-index: 400;
    top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 12px;
    }

}

.searchbarResult {
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgb(246, 246, 246);
    }

    &:first-child {
        margin-top: 10px;
    }
}


.searchbarReset,
.resetFilterButton {
    background-color: white;
    border: transparent;
    border-radius: 10px;
    height: 25px;
    width: 30px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}