@font-face {
    font-family: Jaldi;
    src: url('../public/font/Jaldi-Regular.ttf');
}

@font-face {
    font-family: Jaldi-bold;
    src: url('../public/font/Jaldi-Bold.ttf');
}

html {
    height: 100%;
    background: rgb(62, 189, 135);
    background: -moz-linear-gradient(124deg, rgba(62, 189, 135, 1) 0%, rgba(185, 220, 189, 1) 100%);
    background: -webkit-linear-gradient(124deg, rgba(62, 189, 135, 1) 0%, rgba(185, 220, 189, 1) 100%);
    background: linear-gradient(124deg, rgba(62, 189, 135, 1) 0%, rgba(185, 220, 189, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ebd87", endColorstr="#b9dcbd", GradientType=1);

}

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-family: "jaldi";

}

p {
    font-size: 18px;
    line-height: 18px;
}

button {
    font-family: "jaldi";

}