@font-face {
    font-family: Jaldi;
    src: url('../public/font/Jaldi-Regular.ttf');
}

@font-face {
    font-family: Jaldi-bold;
    src: url('../public/font/Jaldi-Bold.ttf');
}

html {
    height: 100%;
    background: rgb(206, 152, 196);
    background: -moz-linear-gradient(56deg, rgba(206, 152, 196, 1) 0%, rgba(148, 173, 242, 1) 52%, rgba(180, 247, 255, 1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(206, 152, 196, 1) 0%, rgba(148, 173, 242, 1) 52%, rgba(180, 247, 255, 1) 100%);
    background: linear-gradient(56deg, rgba(206, 152, 196, 1) 0%, rgba(148, 173, 242, 1) 52%, rgba(180, 247, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ce98c4", endColorstr="#b4f7ff", GradientType=1);
}

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}