.container {
    height: 100%;
    width: 70%;
    background-color: #f7eeff7d;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.map {
    height: 98%;
    width: 98%;
    position: absolute;
    bottom: 10px;
}